<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Jet.Framework" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="MetadataUri" value="Jet.Geoservices.Client.MetaData.xml"/>
    <add key="ApplicationTag" value="Development [KNGF]"/>
    <add key="CreatedQueues" value="SyncQueue;AsyncQueue;FileAsyncQueue;EventQueue;FileSyncQueue"/>
    <add key="ActiveQueues" value="SyncQueue;AsyncQueue"/>
    <add key="FileManagerQueue" value="FileAsyncQueue"/>
    <add key="FileManagerSyncQueue" value="FileSyncQueue"/>
    <add key="FileManagerBlockSize" value="102400"/>
    <add key="FileManagerDownloadPath" value="C:\Users\{USER_NAME}\Jgs\files\"/>
    <add key="FileManagerDownloadStatePath" value="C:\Users\{USER_NAME}\Jgs\files\state\"/>
    <add key="UseLocalMetaDataOnly" value="false"/>
    <add key="SendReceiveTimeout" value="180000"/>
    <add key="ConfirmQuit" value="true"/>
    <add key="Splash" value="Jet.Geoservices.splash"/>
    <add key="ProductVersionOnSplash" value="FontSize=10;Color=FFFFFFFF;x=20;y=247"/>
    <add key="LogPath" value="logs\{USERNAME}.Geoservices.log"/>
    <add key="AdministratorFullPrivileges" value="true"/>
  </appSettings>
  <Jet.Framework Culture="ru-RU">
    <Queues>
      <Queue Name="SyncQueue">
        <In>
          <Container Serializable="no" Type=""/>
          <Transport>
            <Adapter Type="Socket" Address="0.0.0.0" Port="dynamic"/>
          </Transport>
        </In>
        <Out>
          <Container Serializable="no" Type=""/>
          <Transport>
            <Adapter Type="Socket" Address="192.168.0.106" Port="15583"/>
          </Transport>
        </Out>
      </Queue>
      <Queue Name="EventQueue">
        <In>
          <Container Serializable="no" Type=""/>
          <Transport>
            <Adapter Type="Socket" Address="0.0.0.0" Port="dynamic"/>
          </Transport>
        </In>
        <Out>
          <Container Serializable="no" Type=""/>
          <Transport>
            <Adapter Type="Socket" Address="192.168.0.106" Port="15553"/>
          </Transport>
        </Out>
      </Queue>
      <Queue Name="AsyncQueue">
        <In>
          <Container Serializable="no" Type=""/>
          <Transport>
            <Adapter Type="Socket" Address="0.0.0.0" Port="dynamic"/>
          </Transport>
        </In>
        <Out>
          <Container Serializable="no" Type=""/>
          <Transport>
            <Adapter Type="Socket" Address="192.168.0.106" Port="15563"/>
          </Transport>
        </Out>
      </Queue>
      <Queue Name="FileAsyncQueue">
        <In>
          <Container Serializable="no" Type=""/>
          <Transport>
            <Adapter Type="Socket" Address="0.0.0.0" Port="dynamic"/>
          </Transport>
        </In>
        <Out>
          <Container Serializable="no" Type=""/>
          <Transport>
            <Adapter Type="Socket" Address="192.168.0.62" Port="25573"/>
          </Transport>
        </Out>
      </Queue>
      <Queue Name="FileSyncQueue">
        <In>
          <Container Serializable="no" Type=""/>
          <Transport>
            <Adapter Type="Socket" Address="0.0.0.0" Port="dynamic"/>
          </Transport>
        </In>
        <Out>
          <Container Serializable="no" Type=""/>
          <Transport>
            <Adapter Type="Socket" Address="192.168.0.62" Port="25553"/>
          </Transport>
        </Out>
      </Queue>
    </Queues>
  </Jet.Framework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins" />
    </assemblyBinding>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>
